{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                Type
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>

            </ol>
        </section>
    {%endblock%}
    {%block body%}
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter Type</h3>

                <div class="pull-right" >
                    <!--  <a href="{{path('produit_type_liste')}}"  class="btn bg-olive btn-flat margin">liste Type</a>-->
                </div>
            </div>

            <!-- /.box-header -->

            <div class="box-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom</label>
                            {{ form_start(form) }}
                            {{ form_widget(form.nomType, {'attr': {'class': 'form-control', 'placeholder':'nom du type'} }) }}
                        </div>
                        <!-- /.form-group -->
                        <div class="pull-right" >
                            <a href="{{path('produit_type_ajouter')}}"  class="btn bg-maroon btn-flat">Annuler</a>
                            <input type="submit" value="valider" class="btn bg-olive btn-flat margin"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            {{ form_widget(form.descriptionType, {'attr': {'class': 'form-control', 'placeholder':'description du type'} }) }}

                            {{ form_end(form) }}
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <!-- /.col -->
                <!-- /.row -->
                </br>
                {%if result == 3 %}
                    <div class="alert alert-default alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Veuillez remplir les champs pour ajouter un nouveau type</strong>
                    </div>

                {% elseif result == 2 %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Enregistrement éffectué avec succée.</strong>
                    </div>
                {% elseif result == 0 %}

                {% elseif result == 1 %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Cet enregistrement existe déja.</strong>
                    </div>
                {% endif %}

                <table id="table_typeProduit" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Modifier</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Modifier</th>
                        <th>Detail</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for liste in typeProduitListe %}
                        <tr>
                            <td>{{ liste.id }}</td>
                            <td>{{ liste.nomType }}</td>
                            <td>{{ liste.descriptionType }}</td>

                            <td><a class="btn btn-primary" href="{{ path('produit_type_modifier', {'id': liste.id}) }}">Modifier</a></td>

                            <td><a class="btn btn-info" href="{{ path('produit_type_detail', {'id': liste.id}) }}" >Detail</a></td>

                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div>
        </div>

    {% endblock %}
