{% extends "::base.html.twig" %}
    {%block header%}
      <section class="content-header">
      <h1>
        Produit
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
        <li><a href="{{path('produit_ajouter')}}">Produit</a></li>
      </ol>
    </section>
    {%endblock%}
    {%block body%}
         <div class="box-header box box-success">
             <h3 class="box-title">Listes des produits du tyep <b>{{ nomType }}</b></h3>
   
<div class="pull-right" >
    <a href="{{path('produit_type_liste')}}"  class="btn bg-olive btn-flat margin">liste Type</a>
                            </div>  
        </div>

        <div class="box-body">
            <table id="table_pays" class="table table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for liste in typeProduitListe %}
                        <tr>
                            <td>{{ liste.id }}</td>
                            <td>{{ liste.nomProduit }}</td>
                            <td>{{ liste.descriptionProduit }}</td>

                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

{% endblock %}
