{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                Compte
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
                <li><a href="{{path('compte_ajouter')}}">Compte</a></li>
            </ol>
        </section>
    {%endblock%}
    {%block body%}
        <div class="box-header box box-success">
            <h3 class="box-title">Liste des comptes</h3>

            <div class="pull-right" >
                <a href="{{path('compte_ajouter')}}"  class="btn bg-olive btn-flat margin">Ajouter Compte</a>
            </div>
        </div>

        <div class="box-body">
            {%if result == 1 %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Suppression effectuée avec succès.</strong>
                </div>
            {% endif %}
            <table id="table_client" class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom et prènom</th>
                    <th>Numéro</th>
                    <th>Date de création </th>
                    <th>Solde</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nom et prènom</th>
                    <th>Numéro</th>
                    <th>Date de création </th>
                    <th>Solde</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for compte in compteListe %}
                    <tr>
                        <td><a href="{{ path('compte_show', { 'id': compte.id }) }}">{{ compte.id }}</a></td>
                        <td>{{ compte.nomCompte }}</td>
                        <td>{{ compte.numerCompte }}</td>
                        <td>{% if compte.dateCompte %}{{ compte.dateCompte|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ compte.soldeCompte }}</td>
                        <td>{% if compte.etatCompte %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a class="btn btn-info" href="{{ path('compte_show', { 'id': compte.id }) }}">Détail</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}