{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                TVA
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
                <li><a href="">TVA</a></li>
            </ol>
        </section>
    {%endblock%}
    {%block body%}
        <div class="box-header box box-success">
            <h3 class="box-title">Liste TVA</h3>

            <div class="pull-right" >
                <a href="{{ path('tva_new') }}"  class="btn bg-olive btn-flat margin">Ajouter TVA</a>
            </div>
        </div>

        <div class="box-body">

            <table id="table_tva" class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tvafacture</th>
                    <th>Referencetva</th>
                    <th>Modfier</th>
                   
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Tvafacture</th>
                    <th>Referencetva</th>
                    <th>Modfier</th>
                  
                </tr>

                </tfoot>
                <tbody>
                {% for tva in tvas %}
                    <tr>
                        <td>{{ tva.id }}</td>
                        <td>{{ tva.tvaFacture }}</td>
                        <td>{{ tva.referenceTva }}</td>

                        <td><a class="btn btn-primary" href="{{ path('tva_edit', {'id': tva.id}) }}">Modifier</a></td>

                      

                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    {% endblock %}