{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                Vente
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>

            </ol>
        </section>
    {%endblock%}
    {%block body%}
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter produit à la vente</h3>
                {% if facture.statut == 1 and facture.typeReglementFacture == 2 and nomClient != 'null'%}
                    <div class="pull-right" >
                       <a href="{{path('vente_liste')}}"  class="btn bg-olive btn-flat margin">Liste des ventes</a>
                    </div>
                {% elseif facture.statut == 1 and facture.typeReglementFacture == 1 %}
                    <div class="pull-right">
                        <a href="{{path('clientvente_ajouter', {'idVente': idVente})}}"  class="btn bg-navy btn-flat margin">Client</a>
                    </div>
                {% elseif (facture.statut == 0 and facture.typeReglementFacture == 1) or (facture.statut == 0 and facture.typeReglementFacture == 2) %}
                    <div class="pull-right" >
                        <a href="{{path('vente_liste')}}"  class="btn bg-olive btn-flat margin">Liste des ventes</a>
                    </div>
                     <div class="pull-right" >
                        <a href="{{path('modepaiement_vente_ajouter', {'idVente': idVente})}}"  class="btn bg-purple-active btn-flat margin">Mode de paiement</a>
                    </div>
                      <div class="pull-right">
                        <a href="{{path('clientvente_ajouter', {'idVente': idVente})}}"  class="btn bg-navy btn-flat margin">Client</a>
                    </div>
                {% endif %}
            </div>

            <!-- /.box-header -->

            <div class="box-body">
                {% if result == 4 %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>La quantité demandée({{quantiteDemande}}) est superieur à la quantité disponible ({{quantiteDisponible}}).</strong>
                    </div>
                {% endif %}
                   {% if facture.statut == 1 and (facture.typeReglementFacture == 2 or facture.typeReglementFacture == 1) and is_granted('ROLE_USER') %}
                    {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Produit </label>
                            {{ form_start(form) }}
                            {{ form_widget(form.stock, {'attr': {'class': 'form-control', 'placeholder':'prduit'} }) }}
                        </div>
                        <!-- /.form-group -->
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Quantité</label>
                            {{ form_widget(form.quantiteAchat, {'attr': {'class': 'form-control','min':'0' ,'placeholder':'quantite'} }) }}
                            <div class="pull-left" >
                                <input type="submit" value="valider" class="btn bg-olive btn-flat margin"/>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.form-group -->
                    </div>

                    <!-- /.col -->
                    <!-- /.row -->
                </div>
                {% endif %}
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div>
        </div>

        <div class="box-body">
            <table class="table">
                <tr class="success">
                    <td><p>Référence vente :<b>{{ referenceFacture }}</b> </td>
                    <td>
                        Client :
                        {% if nomClient == 'null' %}
                        {% else %}
                            <b>  {{ nomClient }}</b>
                        {% endif %}
                    </td>
                    <td>Mode de paiement :
                        {% if facture.typeReglementFacture == 2 %}
                            <b>Patiel</b>
                        {% else %}
                            <b>Total</b>
                        {% endif %}
                    </td>
                </tr>
            </table>


            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    {% if facture.statut == 1 and (facture.typeReglementFacture == 2 or facture.typeReglementFacture == 1) and is_granted('ROLE_USER') %}
                    {% else %}
                        <th></th>
                    {% endif %}
                    <th>Désignation</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for liste in produitAchatListe %}
                    <tr>
                        {% if facture.statut == 1 and (facture.typeReglementFacture == 2 or facture.typeReglementFacture == 1) and is_granted('ROLE_USER') %}
                        {% else %}
                            <td><a class="btn btn-danger" href="{{ path('produitvente_retirer', {'idVente': liste.id}) }}"><i class="fa fa-close"></i></a></td>
                        {% endif %}
                        <td>{{ liste.nomProduit }}</td>
                        <td>{{ liste.prixProduit }} &nbsp
                            {% if facture.statut == 1 and (facture.typeReglementFacture == 2 or facture.typeReglementFacture == 1) and is_granted('ROLE_USER') %}
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('produitvente_modifier_prix', {'idVente': liste.id}) }}"> <i class="fa fa-edit"></i></a>
                            {% endif %}
                        </td>
                        <td>{{ liste.quantiteAchat }}</td>
                        <td>{{ liste.prixProduit * liste.quantiteAchat}} F</td>


                    </tr>
                {%endfor%}
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-9"><p class="pull-right"><b>Total HT = {{ montantTotal }} F CFA</b></p></div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-9"><p class="pull-right"><b>Total TTC = {{ montantTotal }} F CFA</b></p></div>
                <div class="col-md-3"></div>
            </div>

            {% if facture.statut == 0 and facture.typeReglementFacture == 2 and nomClient == 'null'%}
                <div  style="padding: 25px;">
                    <div class="callout callout-danger">
                        <h5>Info importante!</h5>

                        <p>Pour les ventes avec mode de paiement partiel, le choix du client est obligatoire, donc veuillez selection un client existant ou tout d'abord le créer (partie client) ensuite retourner le selectioner dans la vente.</p>
                    </div>
                </div>
            {% elseif facture.statut == 0 and facture.typeReglementFacture == 2 and nomClient != 'null'%}
                <div class="pull-right" >
                    <a href="{{path('versement_vente_ajouter', {'idVente':idVente})}}"  class="btn bg-olive btn-flat margin" onclick="return confirm('Cette action consiste à valider la vente ensuite passer au versemet, voulez vous vraiment continuer cette opération?');">Gérer versement vente</a>
                </div>
            {% elseif facture.statut == 1 and facture.typeReglementFacture == 2%}
                <div class="pull-right" >
                    <a href="{{path('versement_vente_ajouter', {'idVente':idVente})}}"  class="btn bg-olive btn-flat margin">Gérer versement vente</a>
                </div>
            {% elseif facture.statut == 0 and facture.typeReglementFacture == 1 %}
                <div class="pull-right" >
                    <a href="{{path('vente_valider', {'idVente':idVente})}}"  class="btn bg-olive btn-flat margin" onclick="return confirm('Voulez-vous vraiment valider cette vente?');">Valider la vente</a>
                </div>
                 <div class="pull-right" >
                    <a href="{{path('vente_imprimerrecu', {'idVente':idVente})}}"  class="btn bg-primary btn-flat margin">Imprimer</a>
                </div>
            {% elseif facture.statut == 1 and facture.typeReglementFacture == 1 %}
              <div class="pull-right" >
                    <a href="{{path('vente_imprimerrecu', {'idVente':idVente})}}"  class="btn bg-primary btn-flat margin">Imprimer</a>
                </div>
            {% endif %}
        </div>
    {% endblock %}
