{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                Vente
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
                <li><a href="{{path('vente_liste')}}">Liste ventes</a></li>
            </ol>
        </section>
    {%endblock%}
    {%block body%}
        <div class="box-header box box-success">
            <h3 class="box-title">Liste des ventes avec type de paiement partiel</h3>

            <div class="pull-right" >
                <a href="{{path('vente_ajouter')}}"  class="btn bg-olive btn-flat margin">Ajouter Vente</a>
            </div>
        </div>

        <div class="box-body">
            <table id="table_vente" class="table table-bordered">
                <thead>
                <tr>
                    <th>Reference </th>
                    <th>Client </th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Détail</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Reference </th>
                    <th>Client </th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Détail</th>
                </tr>
                </tfoot>
                <tbody>
                {% for liste in devisListe %}
                    <tr>
                        <td>{{ liste.referenceFacture }}</td>
                        <td>{% if  liste.client %} {{ liste.client.nomClient }} {% endif %}</td>
                        <td>{{ liste.dateFacture |date('d-m-Y H:i:s') }}</td>
                        <td>
                            {% if liste.statutVersement == 2 %}
                                <span class="label label-success label-mini">Payé</span>
                            {% else %}
                                <span class="label label-warning label-mini">En cours de paiement</span>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{path('versement_vente_ajouter', {'idVente': liste.id})}}"  class="btn bg-olive btn-flat margin">Gérer versement vente</a></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    {% endblock %}
