{% extends "::base.html.twig" %}
{%block header%}
<section class="content-header">
    <h1>
        Utilisateurs
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>Accueil</a>
        </li>
        <li>
            <a href="{{path('user_liste')}}">liste des ulisateurs</a>
        </li>
    </ol>
</section>
{%endblock%}
{%block body%}
    <div class="box-header box box-success">
        <h3 class="box-title">Listes des utilisateurs</h3>

        <div class="pull-right">
            <a href="{{path('user_register')}}" class="btn bg-olive btn-flat margin">Ajouter utilisateur</a>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered" id="table_user">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Rôle</th>
                    <th>Téléphone</th>
                    <th>Reinitialiser MDP</th>
                   <!-- <th>Supprimer</th> -->

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Rôle</th>
                    <th>Téléphone</th>
                    <th>Reinitialiser MDP</th>
                    <!-- <th>Supprimer</th> -->

                </tr>
            </tfoot>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom}}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.username}}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }},
                            {% endfor %}
                        </td>
                        <td>{{ user.telephone }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('user_reset',{'id':user.id}) }}">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </td>
                        <!--
                        <td>
                            <a class="btn btn-danger" href="{{ path('user_delete',{'id':user.id})}}">
                                <i class="fa fa-close"></i>
                            </a>
                        </td>
                        -->
                    </tr>
                    {%endfor%}</tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
