{% extends "::base.html.twig" %}
    {%block header%}
        <section class="content-header">
            <h1>
                Client
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>

            </ol>
        </section>
    {%endblock%}
    {%block body%}

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter Client</h3>

                <div class="pull-right" >
                    <!--       <a href="{{path('client_liste')}}"  class="btn bg-olive btn-flat margin">liste client</a>-->
                </div>
            </div>

            <!-- /.box-header -->

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom et prénom</label>
                            {{ form_start(form) }}
                            {{ form_widget(form.nomClient, {'attr': {'class': 'form-control', 'placeholder':'nom et prénom du client'} }) }}
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            {{ form_widget(form.emailClient, {'attr': {'class': 'form-control', 'placeholder':'adresse email client'} }) }}
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Numéro de téléphone</label>
                            {{ form_widget(form.numeroClient, {'attr': {'class': 'form-control', 'placeholder':'numero de téléphone du client','min':'0'} }) }}
                        </div>

                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Adresse</label>
                            {{ form_widget(form.adresseClient, {'attr': {'class': 'form-control', 'placeholder':'adresse du client'} }) }}
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right" >
                            <a href="{{path('client_ajouter')}}"  class="btn bg-maroon btn-flat">Annuler</a>
                            <input type="submit" value="valider" class="btn bg-olive btn-flat margin"/>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <!-- /.col -->
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
                {%if result == 3 %}
                    <div class="alert alert-default alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Veuillez remplir les champs pour ajouter un nouveau type</strong>
                    </div>

                {% elseif result == 2 %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Enregistrement éffectué avec succée.</strong>
                    </div>
                {% elseif result == 1 %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Cet enregistrement existe déja.</strong>
                    </div>
                {% endif %}
                </br>
                <table id="table_client" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Noméro de téléphone</th>
                        <th>Adresse</th>
                        <th>Modifer</th>
                        <!-- <th>Supprimer</th> -->
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Reference</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Noméro de téléphone</th>
                        <th>Adresse</th>
                        <th>Modifer</th>
                        <!--  <th>Supprimer</th> -->
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for liste in clientListe %}
                        <tr>
                            <td>{{ liste.referenceClient}}</td>
                            <td>{{ liste.nomClient }}</td>
                            <td>{{ liste.emailClient}}</td>
                            <td>{{ liste.numeroClient }}</td>
                            <td>{{ liste.adresseClient }}</td>

                            <td><a class="btn btn-primary" href="{{ path('client_modifier', {'id': liste.id}) }}">Modifier</a></td>

                            <!--   <td><a class="btn btn-danger" href="{{ path('client_supprimer', {'id': liste.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce client?');">Supprimer</a></td>-->


                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
